# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List of Tools for Data Science
- How to do simple arithmetic expressions
- Overview of common data science libraries
- Examples of using data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Commonly used libraries by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook              |
| RStudio                       |
| Apache Zeppelin               |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: `3 + 2` results in `5`
2. Subtraction: `10 - 4` results in `6`
3. Multiplication: `7 * 8` results in `56`
4. Division: `20 / 5` results in `4.0`
5. Exponentiation: `2 ** 3` results in `8`
6. Modulus: `10 % 3` results in `1`

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [ ]:
## Author

Riyadh Uddin Mahmood Chowdhury